* {
    margin: 0;
    padding: 0;
}

.banner {
    width: 750px;
    height: 350px;
    overflow: hidden;
    margin: 100px auto 0;
    position: relative;
}

.img-list {
    width: 750px;
    height: 350px;
}

.banner img {
    width: 750px;
    height: 350px;
    /* border: 1px solid #000; */
    display: none;
}

.banner img.active {
    display: block;
}

.btn {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 145px;
}

.pre {
    left: 0;
    background: url("./img/箭头\ \(2\).png") no-repeat;
    background-size: 60px 60px;
    cursor: pointer;
}

.next {
    background: url("./img/箭头\ \(1\).png") no-repeat;
    position: absolute;
    right: 0;
    background-size: 60px 60px;
    cursor: pointer;
}

.dots {
    width: 750px;
    position: absolute;
    text-align: center;
    bottom: 20px;
}

.dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .6);
    cursor: pointer;
}

.dots .dot.active {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 2px solid rgb(255, 255, 255, 1);
    border-radius: 15px;
}